{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="content">
  <div class="outer-block">
    <div class="inner-block">
      <div class="phase-banner">
        <p><strong class="phase-tag">Beta</strong> <span>This is a new service – your <a href="/4/feedback">feedback</a> will help us to improve it.</span></p>
      </div>
    </div>
  </div>

  <h1 class="heading-xlarge">Reporting Benefit Fraud</h1>

  <div class="text">

    <p>If you think someone is committing benefit fraud it&#39;s quick and easy to report online.</p>

    <p>Any information you provide will be treated in confidence and you will remain anonymous.</p>

    <p>You will need to tell us about the person or organisation and the type of fraud you think they are committing.</p>

  </div>

  <a href="step2.html" class="button button-get-started" role="button">Tell us now</a>

  <p><a href="#">Other ways to report benefit fraud</a></p>

</main>

{{/content}}

{{/layout}}
