{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="content">
  <div class="outer-block">
    <div class="inner-block">
      <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong> <span>This is a new service – your <a href="/4/feedback">feedback</a> will help us to improve it.</span></p>
      </div>
    </div>
  </div>

  <h1 class="heading-xlarge">Reporting Benefit Fraud</h1>

  <div class="text">

    <p>If you think someone is committing benefit fraud it&#39;s quick and easy to report online.</p>

    <p>Any information you provide will be treated in confidence and you will remain anonymus.</p>

    <p>You will need to tell us about the person or organistaion and the type of fraud you think they are committing.</p>

  </div>
  <form>
    <div class="form-group">
    <fieldset>
      <legend class="form-label-bold">Which type of fraud do you want to report?</legend>
      <p>Select all that apply</p>
      <label class="block-label" for="checkbox-1">
        <input id="checkbox-1" type="checkbox" value="parnter">
        Partner or other persons in household
      </label>
      <label class="block-label" for="checkbox-2">
        <input id="checkbox-2" type="checkbox" value="workEarning">
        Work/Earnings
      </label>
      <label class="block-label" for="checkbox-3">
        <input id="checkbox-3" type="checkbox" value="disabilityCarers">
        Disability/Carers
      </label>
      <label class="block-label" for="checkbox-3">
        <input id="checkbox-3" type="checkbox" value="abroad">
        Gone Abroad
      </label>
      <label class="block-label" for="checkbox-3">
        <input id="checkbox-3" type="checkbox" value="idFraud">
        Identity Fraud
      </label>
      <label class="block-label" for="checkbox-3">
        <input id="checkbox-3" type="checkbox" value="savingsCapital">
        Savings/Capital
      </label>
      <label class="block-label" for="checkbox-3">
        <input id="checkbox-3" type="checkbox" value="employer">
        Employer or Organisation
      </label>
    </fieldset>
    </div>
  </form>
  <a href="" class="button" role="button">Continue</a>

</main>

{{/content}}

{{/layout}}
