{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="content">
  <div class="outer-block">
    <div class="inner-block">
      <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong> <span>This is a new service – your <a href="/4/feedback">feedback</a> will help us to improve it.</span></p>
      </div>
    </div>
  </div>

  <h1 class="heading-large">About the vehicle</h1>

  <form method="post" class="form" action="otherPerson" id="form-vehicle-information">
    <div class="form-group">
      <label class="form-label" for="vehicle-type">Type of transport?
        <span class="form-hint">For example, car, van, motorcycle.</span>
      </label>
      <input class="form-control" id="vehicle-type" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="reg">Registration
      </label>
      <input class="form-control" id="reg" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="make">Make
      </label>
      <input class="form-control" id="make" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="model">Model
      </label>
      <input class="form-control" id="model" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="colour">Colour
      </label>
      <input class="form-control" id="colour" type="text">
    </div>
    <div class="form-group">
      <fieldset class="inline">
        <legend class="form-label">Do you want tell us about another vehicle?</legend>
        <div class="form-group form-group-compound">
          <label class="block-label" for="radio-indent-vehcile-1">
            <input id="radio-indent-vehcile-1" class="hasVehicle" type="radio" name="radioGroup" value="another-vehicle">
            Yes
          </label>
          <label class="block-label" for="radio-indent-vehcile-2">
            <input id="radio-indent-vehcile-2" class="hasVehicle" type="radio" name="radioGroup" value="No-vehicle">
            No
          </label>
        </div>
      </fieldset>
    </div>
    <input type="submit" class="button" role="button" value="Continue" />
    <p><a href="step7.html" >Back</a></p>
  </form>


  </form>

</main>

{{/content}}

{{/layout}}
