{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="content">
  <div class="outer-block">
    <div class="inner-block">
      <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong> <span>This is a new service – your <a href="/4/feedback">feedback</a> will help us to improve it.</span></p>
      </div>
    </div>
  </div>

  <h1 class="heading-large">About their partner's vehicle</h1>

  <form>
    <div class="form-group">
      <label class="form-label" for="work-legnth">Type of transport?
        <span class="form-hint">For example, car, van, motorcycle.</span>
      </label>
      <input class="form-control" id="work-legnth" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="reg">Registration
      </label>
      <input class="form-control" id="reg" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="make">Make
      </label>
      <input class="form-control" id="make" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="model">Model
      </label>
      <input class="form-control" id="model" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="colour">Colour
      </label>
      <input class="form-control" id="colour" type="text">
    </div>
  </form>


    <a href="step9.html" class="button" role="button">Continue</a>
  </form>

</main>

{{/content}}

{{/layout}}
