{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="content">
  <div class="outer-block">
    <div class="inner-block">
      <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong> <span>This is a new service – your <a href="/4/feedback">feedback</a> will help us to improve it.</span></p>
      </div>
    </div>
  </div>

  <h1 class="heading-large">Do you have additional details for the suspect?</h1>

  <form method="post" action="step4b" class="form">
    <div class="form-group">
      <fieldset class="inline">
          <div class="form-group">
            <label class="form-label" for="home-number">Home telephone number</label>
            <input class="form-control" id="home-number" type="text">
           </div>
           <div class="form-group">
             <label class="form-label" for="mobile-number">Mobile telephone number</label>
             <input class="form-control" id="mobile-number" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="other-number">Any other telephone numbers</label>
              <input class="form-control" id="other-number" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="work-email">Email address </label>
              <input class="form-control" id="work-email" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="other-number-c">Any social media details</label>
              <input class="form-control" id="other-number-c" type="text">
            </div>
         </div>
      </fieldset>
    </div>

    <div class="form-group">
      <fieldset class="inline">
        <legend class="form-label">Does the suspect have a partner?</legend>
        <div class="form-group form-group-compound">
          <label class="block-label" data-target="example-ni-number" for="radio-indent-dob-1">
            <input id="radio-indent-dob-1" class="hide-show" type="radio" name="radioIndentGroup" value="Yes-partner">
            Yes
          </label>
          <label class="block-label" for="radio-indent-dob-2">
            <input id="radio-indent-dob-2" class="hide-show" type="radio" name="radioIndentGroup" value="No-partner">
            No
          </label>
        </div>
      </fieldset>
    </div>

    <input type="submit"  class="button" role="button" value="Continue" />
    <p><a href="#" onclick="window.history.back()">Back</a></p>
  </form>

</main>

{{/content}}

{{/layout}}
