{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="content">
  <div class="outer-block">
    <div class="inner-block">
      <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong> <span>This is a new service – your <a href="/4/feedback">feedback</a> will help us to improve it.</span></p>
      </div>
    </div>
  </div>

  <h1 class="heading-large">Do you have additional details for the suspect?</h1>

  <form method="post" action="step4b" class="form" id="form-additonal-suspect-details">


    <div class="form-group">
      <fieldset class="inline">
        <legend class="form-label">Does the suspect have a partner?</legend>
        <div class="form-group form-group-compound">
          <label class="block-label" data-target="example-ni-number" for="radio-indent-partner-1">
            <input id="radio-indent-partner-1" class="hasPartner" type="radio" name="radioIndentGroup" value="Yes-partner">
            Yes
          </label>
          <label class="block-label" for="radio-indent-partner-2">
            <input id="radio-indent-partner-2" class="hasPartner" type="radio" name="radioIndentGroup" value="No-partner">
            No
          </label>

          <label class="block-label" for="radio-indent-partner-3">
            <input id="radio-indent-partner-3" class="hasPartner" type="radio" name="radioIndentGroup" value="dont-know-partner">
            Don't Know
          </label>
        </div>
      </fieldset>
    </div>

    <input type="submit"  class="button" role="button" value="Continue" />
    <p><a href="#" onclick="window.history.back()">Back</a></p>
  </form>

</main>

{{/content}}

{{/layout}}
