{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="content">
  <div class="outer-block">
    <div class="inner-block">
      <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong> <span>This is a new service – your <a href="/4/feedback">feedback</a> will help us to improve it.</span></p>
      </div>
    </div>
  </div>

  <h1 class="heading-xlarge"></h1>

  <form>
    <div class="form-group">
    <fieldset>
      <legend class="form-label-bold">Which type of fraud do you want to report?</legend>
      <p>Select all that apply</p>
      <label class="block-label" for="checkbox-2">
        <input id="checkbox-2" type="checkbox" value="workEarning">
        Work/Earnings
      </label>
      <label class="block-label" for="checkbox-1">
        <input id="checkbox-1" type="checkbox" value="parnter">
        Partner or other persons in household
      </label>
      <label class="block-label" for="checkbox-3">
        <input id="checkbox-3" type="checkbox" value="disabilityCarers">
        Disability/Carers
      </label>
      <label class="block-label" for="checkbox-7">
        <input id="checkbox-7" type="checkbox" value="abroad">
        Gone Abroad
      </label>
      <label class="block-label" for="checkbox-4">
        <input id="checkbox-4" type="checkbox" value="idFraud">
        Identity Fraud
      </label>
      <label class="block-label" for="checkbox-5">
        <input id="checkbox-5" type="checkbox" value="savingsCapital">
        Savings/Capital
      </label>
      <label class="block-label" for="checkbox-6">
        <input id="checkbox-6" type="checkbox" value="employer">
        Employer or Organisation
      </label>
      <label class="block-label" for="checkbox-7">
        <input id="checkbox-7" type="checkbox" value="excessive">
        Excessive lifestyle
      </label>
    </fieldset>
    </div>
  </form>
  <a href="step3a.html" class="button" role="button">Continue</a>

</main>

{{/content}}

{{/layout}}
