{{<layout}}

{{$pageTitle}}
  GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="content">
  <div class="outer-block">
    <div class="inner-block">
      <div class="phase-banner">
        <p><strong class="phase-tag">ALPHA</strong> <span>This is a new service – your <a href="/4/feedback">feedback</a> will help us to improve it.</span></p>
      </div>
    </div>
  </div>

  <h1 class="heading-large">Do you have contact details for this person?</h1>

  <form>

    <div class="form-group">
      <div class="form-group">
        <label class="form-label" for="home-number">Home telephone number (optional)</label>
        <input class="form-control" id="home-number" type="text">
       </div>
     <div class="form-group">
       <label class="form-label" for="mobile-number">Mobile telephone number (optional)</label>
       <input class="form-control" id="mobile-number" type="text">
      </div>
      <div class="form-group">
        <label class="form-label" for="other-number">Any other telephone number (optional)</label>
        <input class="form-control" id="other-number" type="text">
      </div>
    </div>

    <div class="form-group ">
      <div class="form-group">
        <label class="form-label" for="work-email">Email address (optional)</label>
        <input class="form-control" id="work-email" type="text">
       </div>
     </div>

  <div class="form-group">
    <div class="form-group">
      <label class="form-label" for="home-number">Facebook profile name or link (optional)</label>
      <input class="form-control" id="home-number" type="text">
     </div>
   <div class="form-group">
     <label class="form-label" for="mobile-number">Twitter name or id (optional)</label>
     <input class="form-control" id="mobile-number" type="text">
    </div>
    <div class="form-group">
      <label class="form-label" for="other-number">Any other social media details (optional)</label>
      <input class="form-control" id="other-number" type="text">
    </div>
  </div>



    <a href="step3a.html" class="button" role="button">Continue</a>
  </form>

</main>

{{/content}}

{{/layout}}
